<div class="SignUp">
    <h1>US Road Accidents Trends</h1>
    <div class="signin-container">
        <h2>SignUp</h2>
        <form #signUp="ngForm" (ngSubmit)="onSubmit(signUp.value)">
          <input type="text" id="username" name="loginid" placeholder="Username" ngModel required>
          <input type="text" id="firstName" name="firstName" placeholder="First Name" ngModel required>
          <input type="text" id="lastName" name="lastName" placeholder="Last Name" ngModel required>
          <input type="password" id="password" name="password" placeholder="Password" ngModel required>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ngModel required>
          <button type="submit" class="button">SignUp</button>
        </form>
        <div class="register">
            <button (click)="navigateToLogIn()">Click here to Login</button>
        </div>
      </div>
</div>
