<div class="welcome">
    <h1>US Road Accidents Trends</h1>
    <nav class="menu-bar">
      <ul>
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.link">{{ item.title }}</a>
        </li>
      </ul>
    </nav>  
    <div class="optionList">
    <form #marylandVio="ngForm" (ngSubmit)="onSubmit(marylandVio.value)">
        <label>Choose Violation</label>
        <select class="optionStyle" name="violation" ngModel>
        <option *ngFor="let violation of violations" [value]="violation">
         {{ violation }}
        </select>
        From Date: <input type="date" class="optionStyle" name="fromDate" ngModel>
        To Date: <input type="date" class="optionStyle" name="toDate" ngModel>
        <button type="submit">Get Trends</button>
    </form>
    </div>
    
  </div>
  