  <div class="Login">
    <h1>US Road Accidents Trends</h1>
    <div class="login-container">
      <h2>Login</h2>
      <form #logInForm="ngForm" (ngSubmit)="navigateToWelcome(logInForm.value)">
        <input type="text" id="username" name="username" placeholder="Username" ngModel required>
        <input type="password" id="password" name="password" placeholder="Password" ngModel required>
        <button type="submit" class="button">Login</button>
      </form>
      <div class="register">
        <button (click)="navigateToSignUp()">Click here to register</button>
      </div>
    </div>
  </div>
  
  