  <div class="Login">
    <div class="login-container">
      <h2>Login</h2>
      <form>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit" class="button" (click)="navigateToWelcome()">Login</button>
      </form>
      <div class="register">
        <button (click)="navigateToSignUp()">Click here to register</button>
      </div>
    </div>
  </div>
  
  